td {
	padding: 19px;
	background-color: white;
	border: 1px solid white;
}

td.hit, td.ship {
	background-color: red;
}

td.miss {
	background-color: gray;
}

table, tr {
	padding: 0;
	margin: 5px;
	background-color: grey;
}
